* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: white;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);

  width: 100vw;
  height: 100vh;
}

#background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.stretch {
  width: 100%;
  height: 100%;
}

main {
  grid-area: 2 / 2 / 6 /6;
  background-color: white;
}

.imagebox {
  background-size: auto, 100%;
  background-repeat: cover;
  background-position: center;
}

.imagebox:hover {
  opacity: 0.5;
}

.textarea {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  font-size: 4em;
  text-transform: uppercase;
  color: white;

  text-shadow:
  3px 3px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

.imagebox:hover .textarea {
  opacity: 1;
  text-align: center;
  padding: 20%;
}

#firstbox {
  grid-row: 2 / 4;
  grid-column: 2 / 4;
  background-image: url(bilder/suicideboys.jpg);
  background-size: 100%;
}

#secondbox {
  grid-row: 2/ 4;
  grid-column: 4/6;
  background-image: url("bilder/lilpeep.jpg");
}

#thirdbox {
  background-image: url("bilder/sybyr.jpg");

  background-size: 100% 100%;

  grid-row: 4/6;
  grid-column: 4/6;
}

#fourthbox {
  background-image: url("bilder/crywank.jpg");
  background-size: 100% 100%;
  grid-row: 4/6;
  grid-column: 2/4;
}
