* {
  padding: 0px;
  margin: 0px;
}

body {
  /* background-image: url("bilder/vaporwave-squares.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  vill göra så de stretchas o man ser hela bilden*/

  background-color: black;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);

  width: 100vw;
  height: 100vh;
}

main {
  grid-area: 2 / 2 / 5 /5;
  background-color: white;

  display: inline-grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#first {
  grid-area: 1 / 1;
}

#second {
}

#third {
}

#fourth {
  grid-area: 2/2;
}
