* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("bilder/background-img.png");
  background-color: red;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 2fr, [body] 5fr, [footer]2fr;

  gap: 1em;

  width: 100vw;
  height: 100vh;
}

header {
  color: white;
  padding: 1rem;
}

nav {
  margin-top: 10%;
  margin-right: 1vh;
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 7vh;

  grid-row: 1 / span 1;
  grid-column: 4 / span 2;

  gap: 30px;
}

li {
}

a {
  border-radius: 10px;
  border-style: none none solid none;
  padding: 1vh;
  border-color: red;
  background-color: darkred;
  color: lightcoral;
  text-decoration: none;

  font-size: 2rem;
}

a:hover {
  color: lightcoral;
 

}

a:active {
  border-style: hidden;
  color: lightyellow;
}
main {
  background-color: rgba(225, 255, 255, 0.8);

  grid-row-start: body;
  grid-row-end: footer;
  grid-column: 2 / span 3;

  border-radius: 1vmin;
}

footer {
  background-color: cyan;
  grid-column: 1 / span 5;
  grid-row-start: 8;
  grid-row-end: 9;
}
