*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: [paddingarea]1fr [textarea] 4fr [imagearea]2fr [paddingarea2]1fr;
    grid-template-rows: [paddingarea]1fr [textarea] 3fr [videoarea]2fr [paddingarea2] 1fr;
}

main{
    grid-column: textarea / imagearea;
    grid-row: textarea / paddingarea2;
    background-color: white;

    border-radius: 10px;

    text-align: center;

    overflow: auto;
}
h1{
    font-size: 2em;
    padding: 2%;
    border-style: none none dashed none;

    text-transform: uppercase;
}
p{
    font-size: 2em;
    padding: 10px;
}

img{
    max-width: 100%;
    overflow:hidden;


}

img.backLink{
    grid-column: imagearea/ paddingarea2;
    grid-row: paddingarea / textarea;
}

.pictureArea{
    grid-column: imagearea/ paddingarea2;
    grid-row: textarea/ videoarea;
    width: 100%;
    height: 100%;
}

iframe{
    grid-column: imagearea / paddingarea2;
    grid-row: videoarea / paddingarea2;

    width: 100%;
    height: 100%;
}

